{% extends "fiscales/base.html" %}


{% block page_title %}Dónde fiscalizo{% endblock %}


{% block donde %}

    {% url 'donde-fiscalizo' as url %}
    <li {% if url in request.path %} class="active"{% endif %}>
         <ul class="collapsible collapsible-accordion">
            <li>
              <a href="{{ url }}" class="collapsible-header active" data-turbolinks="false">Dónde fiscalizo<i class="material-icons">place</i></a>

              {% if object.mesas_asignadas|length < 4 %}

              <div class="collapsible-body" style="display:block">
                <ul>
                  {% for mesa in object.mesas_asignadas %}
                   <li>
                  {% if mesa.es_testigo %}
                     <strong><a href="{{ mesa.get_absolute_url }}" title="mesa testigo">Mesa Nº {{ mesa.numero }} <i class="material-icons tiny">star</i></a></strong>
                    {% else %}
                      <a href="{{ mesa.get_absolute_url }}">Mesa Nº {{ mesa.numero }}</a>
                    {% endif %}
                      </li>

                  {% endfor %}
                  </ul>
              </div>
              {% endif %}


            </li>
          </ul>
    </li>
{% endblock donde %}




{% block left-panel %}


    {% for escuela in object.escuelas.all %}

        <div class="card" id='donde{{escuela.id}}'>
        <div class="card-content">
            <div class="card-title">{{ escuela.nombre }}</div>

            <form method="POST" action="{% url 'asignacion-estado' object.tipo object.asignacion.id %}" enctype="multipart/form-data">
            {% csrf_token %}


             <table class="table bordered">
               <tr>
                  <th>Sección</th>
                  <td>{{ escuela.circuito.seccion }}</td>
              </tr>
               <tr>
                  <th>Circuito</th>
                  <td>{{ escuela.circuito }}</td>
              </tr>
              <tr>
                  <th>Dirección</th>
                  <td>{{ escuela.direccion_completa }} <br>
                  <a href="http://maps.google.com/maps?q={{escuela.coordenadas}}">Ver en el mapa</a></td>
              </tr>

              <tr>
                  <th>
                    Mesa/s
                  </th>

                  <td>

                  {% if object.es_general %}

                      <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn' href='#' data-activates='dropdown{{escuela.id}}'><i class="material-icons right">arrow_drop_down</i> Ver mesas</a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown{{escuela.id}}' class='dropdown-content'>

                        {% for mesa in object.mesas_asignadas %}
                          <li><a href="{{ mesa.get_absolute_url }}">
                          {% if mesa.es_testigo %}
                              <i class="material-icons">start</i>
                          {% endif %} Nº {{ mesa.numero }}</a>
                          </li>
                          {% endfor %}
                        </ul>

                    {% else %}

                    <a class='btn' href="{% url 'detalle-mesa' mesa.numero %}">Nº {{ mesa.numero }}</a>

                    {% endif %}
                  </td>
              </tr>

              {% if  object.asignacion %}
              <tr>
                  <th>
                      Estás
                  </th>

                  <td>

                    {% if object.asignacion.esta_presente %}Presente{% else %}Ausente{% endif %}

                     <button  type="submit" class="waves-effect waves-light btn white-text">
                      {% if object.asignacion.esta_presente %}Tengo que retirarme{% else %}Estoy presente{% endif %}

                      </button>

                  </td>
              </tr>

               {% endif %}

              {% if object.asignacion.comida != 'no asignada' %}
              <tr>
                <th>
                    Comida
                </th>
                <td>
                  {{ object.asignacion.comida }}

                  {% if object.asignacion.comida == 'asignada' %}
                  <button name='comida' type="submit" class="waves-effect waves-light btn white-text">
                      Ya la recibí
                  </button>
                  {% endif %}
                </td>

              </tr>

              {% endif %}




            </table>
            </form>
       </div>


    </div>

    {% endfor %}

    {% if not object.escuelas.exists %}

      <div class="card">
        <div class="card-content">
            <div class="card-title">Todavía no tenés asignada ninguna {% if object.es_general %}escuela{% else %}mesa{% endif %}</div>

            <p>Por favor, hablá con tus <a href="{% url 'mis-contactos' %}#referentes %}">referentes</a></p>

        </div>
      </div>
    {% endif %}

{% endblock left-panel %}