{% extends "fiscales/donde-fiscalizo.html" %}

{% block breadcrumbs_items %}
<a href="{{ object.lugar_votacion.get_absolute_url }}">{{ mesa.lugar_votacion }}</a>
<a class="active">Mesa Nº {{ object.numero }}</a>
{% endblock %}


{% block page_title %}Mesa Nº {{ object.numero }} {% endblock %}

{% block left-panel %}
    <div class="card">
        {% block card-content %}
        <div class="card-content">


        <a href="{% url 'cargar' object.id %}"  class="waves-effect waves-light btn white-text">

        </a>


        {% endblock card-content %}


    </div>


{% endblock left-panel %}